@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(216, 193, 103, 0.932);
    font-family: 'Amatic SC', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
} 
.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: rgb(248, 237, 223);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: rgb(255, 209, 153);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: chocolate;
    color: rgb(231, 219, 202);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(248, 237, 223);
    transition: .4s ease;
}

.circle.active {
    border-color: rgb(219, 180, 129);
}

.btn {
    background-color: rgb(219, 180, 129) ;
    color:  rgb(231, 219, 202);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn::focus {
    outline: 0;
}

.btn:disabled {
    background-color:  rgb(248, 237, 223);
    cursor: not-allowed;
}