@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tajawal', sans-serif;
    color: darkslategrey;
    padding-bottom:  50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav Styling */

/* hero image styling */

.hero {
    background-image: url('https://images.pexels.com/photos/209296/pexels-photo-209296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}