@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
     background-color: gainsboro;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  canvas{
      border: 2px solid darkslategray;
  }

  .toolbox {
        background-color: rgb(192, 201, 201);
        border: 1px solid rgb(180, 186, 192);
        display: flex;
        width: 804px;
        padding: 1rem;
  }

  .toolbox > * {
      background-color: snow;
      border: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      height: 50px;
      width: 50px;
      margin: 0.25rem;
      padding: 0.25rem;
      cursor: pointer;
  }

  .toolbox > *:last-child {
      margin-left: auto;
  }